.operations {
  &__table {
    width: 96%;
    margin: 30px 0 20px 0;
    tr {
      color: #333333;
      letter-spacing: -0.52px;
      height: 40px;
      font-size: 14px;
      &:not(:first-child) {
        td {
          border-bottom: 1px solid #EDEEEE;
        }
      }
      &:first-child {
        background: #EDEEEE;
        font-size: 13px;
        &.date {
          &.up {
            th:nth-child(1):after{
              transform: rotate(180deg);
            }
          }
          th:nth-child(1):after{
            border-top: 5px solid #3399FF;
          }
        }
        &.type {
          &.up {
            th:nth-child(2):after{
              transform: rotate(180deg);
            }
          }
          th:nth-child(2):after{
            border-top: 5px solid #3399FF;
          }
        }
        &.area {
          &.up {
            th:nth-child(3):after{
              transform: rotate(180deg);
            }
          }
          th:nth-child(3):after{
            border-top: 5px solid #3399FF;
          }
        }
        &.assessment {
          &.up {
            th:nth-child(4):after{
              transform: rotate(180deg);
            }
          }
          th:nth-child(4):after{
            border-top: 5px solid #3399FF;
          }
        }
        th {
          text-align: left;
          padding: 15px 15px;
          cursor: pointer;
          &:after {
            transition: transform 0.35s ease;
            transform-origin: 50% 50%;
          }
          &:nth-child(1) {
            width: 12%;
            &:after {
              content: '';
              display: inline-block;
              width: 0;
              height: 0;
              margin: 0 0 2px 5px;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #A7A9AC;
            }
          }
          &:nth-child(2) {
            width: 38%;
            &:after {
              content: '';
              display: inline-block;
              width: 0;
              height: 0;
              margin: 0 0 2px 5px;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #A7A9AC;
            }
          }
          &:nth-child(3) {
            width: 20%;
            &:after {
              content: '';
              display: inline-block;
              width: 0;
              height: 0;
              margin: 0 0 2px 5px;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #A7A9AC;
            }
          }
          &:nth-child(4) {
            width: 20%;
            &:after {
              content: '';
              display: inline-block;
              width: 0;
              height: 0;
              margin: 0 0 2px 5px;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #A7A9AC;
            }
          }
        }
      }
      td {
        position: relative;
        padding: 20px 15px;
        &:nth-child(1) {
          font-size: 12px;
          opacity: 0.8;
        }
        &:nth-child(3) {
          padding-left: 60px;
          &:before {
            content: '';
            display: inline-block;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            background: url($path-to-images + "/crop-wheat.png") 0 0 / 100% auto no-repeat;
          }
        }
        &:nth-child(4) {
          padding: 20px 15px 20px 30px;
          &:before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 15px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            margin-right: 10px;
            border-radius: 10px;
            background: #66CC66;
          }
        }
        &.assessment {
          &-green {
            &:before {
              background: #66CC66;
            }
          }
          &-red {
            &:before {
              background: #FF7360;
            }
          }
          &-yellow {
            &:before {
              background: #FFE06D;
            }
          }
          &-gray {
            &:before {
              background: #EDEEEE;
            }
          }
        }
      }
    }
  }
}
