@import "~normalize.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background: #F9F9F9;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 90%;
  margin: auto;
  padding: 50px 50px;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

nav {
  width: 100vw;
  height: 80px;
  background: #000;
}


@import "./scenes/Operations/operations.scss";
